body {
  margin: 0;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  padding-right: 0;
  padding-left: 0;
  max-width: 100%;
}

p,
li,
h1 {
  color: #02412c;
}

h1 {
  font-size: 7rem;
  display: inline;
  padding-bottom: 30px;
  padding-top: 20px;
}

strong {
  font-weight: 400;
}

h3 {
  display: inline;
  color: #02412c;
}

li,
ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  color: #02412c;
  font-size: 31px;
  line-height: 32px;
}

div.wrap {
  background-color: #f4cee3;
  padding-top: 142px;
  padding-left: 139px;
  padding-right: 139px;
  padding-bottom: 0;
}

div.wrap-two {
  background-color: #febc0e;
  padding: 72px 139px;
}

.app {
  max-width: 100%;
  margin: 0 auto;
}

.form {
  background-color: #f4cee3;
  border-color: #f4cee3;
}

input.form-control {
  width: 440px !important;
}

div.container {
  margin-left: 0;
  margin-right: 0;
}

footer {
  text-align: center;
  padding-top: 20px;

  font-size: 11px;
}

#bar {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  background-color: #00ced1;

  box-shadow: 0 0 50px #00ced1;
}

.bar-text {
  color: #02412c;
}

.temp-block {
  font-size: 6rem;
  color: #02412c;
}

.temp-button {
  border-color: transparent;
  background-color: transparent;
  padding: 0;
  color: #02412c;
}

.temp-logo {
  position: absolute;
}

.hint {
  visibility: hidden;
  width: 170px;
  background-color: #febc0e;
  color: #faf7eb;
  text-align: center;
  padding: 5px 0;
  border-radius: 7px;
  position: absolute;
  z-index: 1;
  top: 056%;
  right: 56%;
  font-size: 20px;
  transition: all 110ms ease-in-out;
}

.temp-button:hover .hint {
  visibility: visible;
}

#form {
}

.form:hover {
  background-color: #febc0e;
  border-color: #febc0e;
}

#icon {
  width: 304px;
  margin: 0 auto;
  margin-bottom: 0;
  position: relative;
  right: -28px;
  top: -65px;
}

#icon2 {
  width: 350px;
  margin: 0 auto;
  margin-bottom: 0;
  position: absolute;
  clip-path: inset(35% 0% 0% 0%);
  right: 158px;
  top: -53px;
}

#icon3 {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 0;
  position: relative;
  clip-path: inset(0% 0% 35% 0%);
  right: -56px;
  bottom: -122px;
}

#icon4 {
  width: 169px;
  margin: 0 auto;
  margin-bottom: 0;
  position: relative;
  clip-path: inset(0% 0% 0% 0%);
  right: -228px;
  bottom: 305px;
}

#icon5 {
  width: 324px;
  margin: 0 auto;
  margin-bottom: 0;
  position: relative;
  clip-path: inset(0% 0% 0% 0%);
  right: 462px;
  bottom: -70px;
}

#cbutton {
  border: none;
  background: linear-gradient(
    rgba(2, 65, 44, 1) 0%,
    rgba(0, 206, 209, 1) 58%,
    rgba(0, 212, 255, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
