body {
  margin: 0;
  margin: 0;
  padding: 0;
}

.container {
  padding-right: 0;
  padding-left: 0;
  max-width: 100%;
}

p,
li,
h1 {
  color: #02412c;
}

h1 {
  font-size: 6rem;
}

li,
ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

div.wrap {
  background-color: #f4cee3;
  padding: 72px 139px;
}

.app {
  max-width: 100%;
  margin: 0 auto;
}

.form {
  background-color: #f4cee3;
}

input.form-control {
  width: 440px !important;
}

div.container {
  margin-left: 0;
  margin-right: 0;
}

#bar {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
